header {
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-flex {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 50px;
}

.nav .link {
    margin: 20px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav .link:hover {
    color: #2cca6e;
}