.posts {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.container-posts {
    position: relative;
    max-width: 900px;
    width: 900px;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container-posts .header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container-posts .header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #27ae60;
}

.container-posts form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container-posts form .details {
    margin-top: 30px;
}

.container-posts form .details .ID {
    margin-top: 10px;
}

.container-posts form span .span {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
} 

.container-posts form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 -15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

/* .container-posts form button .btn-form-imovel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
} */

.container-posts .details .input-field input[type="radio"] {
    box-shadow: none;
    margin-left: 20px;
    
}

.container-posts .details .input-field p {
    font-size: 15px;
    color: #666;
    margin: 13px;
}

.container-posts .details .details-input {
    margin: 2rem;
}

.input-field input[type="file"] {
    display: none;
}

.input-field label.upload-button {
    position: relative;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #27ae60;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 2.5rem;
}

.input-field label.upload-button:hover {
    background-color: #219653;
}

.input-field label.upload-button:active {
    background-color: #1e8449;
}

.form #next {
    margin-top: 7rem;
}

.form #back {
    margin: 2rem;
}

.input-field.textarea-field {
    width: 300px; 
    margin-top: 20px; 
}

.input-field.textarea-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field.textarea-field textarea {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    margin: 8px 0; 
    height: 180px;
}

.input-field.textarea-field textarea:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
