.contentContainer {
    width: 60%;
    height: 600px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 36px;
    display: flex;
    background-color: whitesmoke;
    align-items: flex-start; /* Align items at the start (top) */
}

.imageContent {
    border-radius: 25px;
    width: 40%;
}
.post-image {
    width: 100%;
}

.detailsContainer {
    background-color: white;
    border-radius: 32px;
    width: 400px;
    height: 500px;
    margin-left: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.detailsContainer h2 {
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 20px;
    color: #444;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-top: 1rem;
}

.contentContainer .detailsContainer h6 {
    font-size: 20px;
    color: #444;
    margin-bottom: -2rem;
    margin-top: -1rem;
}

.detailsContainer p {
    text-align: center;
    font-size: 11px;
    display: flex;

}

.contentContainer .detailsContainer .icons-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: .5rem;
}

.contentContainer .detailsContainer .icons-container .top-icons,
.contentContainer .detailsContainer .icons-container .bottom-icons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;        
}

.contentContainer .detailsContainer .icons-container .top-icons .fa-bed {
    margin-left: 60px;
}

.contentContainer .detailsContainer .icons-container  .fa-toilet-paper {
    margin-left: -10px;
}

.contentContainer .detailsContainer .icons-container .top-icons {
    margin-left: 1rem;
}

.contentContainer .detailsContainer .icons-container .fa-solid {
    color: #27ae5f9c;
    transition: 1s ease;
    cursor: pointer;
    font-size: 25px;
}

.contentContainer .detailsContainer .icons-container .fa-solid:hover  {
    color: #27ae5fe5;
}

.contentContainer .detailsContainer .icons-container span {
    font-weight: 700;
    color: #444;
    margin-left: -10px;
}


