.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.form-container {
    margin-top: auto;
    width: 300px; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #27ae60;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #2cca6e;
}

.form-container p {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    color: #2cca6e;
    margin: 1rem;
}

.form-container p:hover {
    text-decoration: underline;
}





