.about {
    margin-bottom: 80px;
    /* margin-left: -25rem; */
} 

.about .heading {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
}

.about p {
    font-size: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: justify;
}

/* .image-2 {
    display: flex;
    margin-top: -25rem;
    margin-right: -85rem;
    box-shadow: 10px 5pxrgba(0, 0, 0, 0.253);
}

img {
    width: 450px;

} */